name: Benchmarks
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      commit_ref:
        description: "optional: compare to specific ref"
        required: false

jobs:
  benchmarks:
    name: Benchmark scripts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install cibuildwheel
        run: python3 -m pip install cibuildwheel

      - name: Install build/test dependencies
        working-directory: python
        run: |
          python3 -m pip install -r requirements-dev.txt

      - name: Set default benchmark reference
        run: echo "BENCHMARK_REF=88ffaa6c3f33e3085948127740b2eb1e797fa73f" >> $GITHUB_ENV

      - name: Set benchmark reference if defined by workflow_dispatch
        if: github.event.inputs.commit_ref != ''
        run: echo "BENCHMARK_REF=${{ github.event.inputs.commit_ref }}" >> $GITHUB_ENV

      - name: Benchmark old commit
        uses: "./.github/actions/benchmark"
        with:
          ref: ${{ env.BENCHMARK_REF }}
          compare: ""

      - name: Benchmark current commit and compare
        uses: "./.github/actions/benchmark"
        with:
          ref: ${{ github.sha }}
